/*#offers{
	
}*/
.autobusal-form{
	padding: 5px 20px 20px 20px;
	font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	
}
@media screen and (min-width: 1024px) {
  .autobusal-form{
	min-width: 1140px;
	padding: 5px 20px 20px 20px;
}
}
#similar-dates .bd-active a{
	text-decoration: none;
}
#similar-dates .bd-item a{
	text-decoration: none;
}
.obt-route .or-inner .or-bottom-right .obr-inner a{
	text-decoration: none;
}
.obt-api{ margin:0;}
.obt-api h2{margin-top: 0; display: none;}
.autobusal-signature {width: 100%; height: 15px; text-align: right; font-size: 10px; padding: 10px 0 10px 0;}
.autobusal-signature .autobusal-providedby{ margin-right: 10px; display: inline-block;}
.autobusal-signature img{max-height: 15px; float: right; margin-right: 30px;display: inline-block;}